---
title: Web and Mobile Development Company - Streamline Social
layout: page
description: Streamline is a digital innovation agency. We partner with Startups, Government Agencies, SMES,Creative Agencies and the Global 500 to create connected products, mobile apps, web applications, chat-bots, Artificial Intelligence applications, and content management systems that make a positive impact on user engagement and your bottom line.
headerBackgroundStyle: transparent
---

<!-- start div video-container -->
<div class="video-container" id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-md-offset-2">
                <img src="assets/images/img-book2.png" class="img-responsive" scale="0"><br>
            </div>
            <div class="col-sm-8 col-md-6 pl">
                <h1>Topple</h1>
                <hr class="line">
                <h2>The end of firm-based strategy & the rise of business ecosystems</h2>
                <a class="btn btn-xl btn-primary" href="/topple.html">
                    Learn More
                </a>
                <div class="btn-group">
                    <a class="btn btn-xl btn-primary" href="https://www.amazon.com/Topple-Firm-Based-Strategy-Models-Explosive/dp/1626344892/ref=sr_1_1?ie=UTF8&qid=1526761814&sr=8-1&keywords=topple+book">
                        Buy the book
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end div video-container -->

<!-- start section partners -->
<section class="partners sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0 col-md-11 col-md-offset-1">
                <div id="carousel-example" class="carousel reviews slide" data-ride="carousel" data-interval="15000">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for review in site.data.reviews %}
                        {% if forloop.first  %}
                            <div class="item active" style="min-height: 150px;">
                        {% else %}
                                <div class="item" style="min-height: 150px;">
                        {% endif %}
                            <div class="col-sm-3 ta-center">
                                <img width="150" height="150" src="{{ 'assets/images/' | append: review.src | relative_url }}" class="img-circle wp-post-image" alt="david_allen_blue"  sizes="(max-width: 150px) 100vw, 150px">
                            </div><!--end col-sm-4-->
                            <div class="col-sm-9">
                                <p class="review">
                                    {{ review.review }}
                                    <span class="author">{{review.author}}, {{review.resume}}</em>								</span>
                                </p>
                            </div><!-- end col-sm-5 -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section partners -->

<!-- start section founder -->
<section class="sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-5">
                <h2>About Ralph Welborn</h2>
                <hr class="line">
                <div class="lead">
                    <p>Ralph Welborn is a vetren executive, business seeker and the author of <em><a href="/books/get-it-done">Get It Done,</a></em> about briding the gap between stratigic objective/ Intent and everyday execution and <em><a href="http://charlesduhigg.com/books/jericho/">The Jericho Principle</a></em>, focuses on how to drive  alignment both inside and outside of an organization to drive innovation and new sources of value.</p>
                    <p><strong><a href="/about">More About Ralph</a></strong></p>
                </div>
            </div>
            <div class="col-sm-3">
                <img src="assets/images/ralph-img1.png" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- end section founder -->

<section class="red-wrap ta-center ptb50 videos">
    <h2>Featured Articles</h2>
</section>

<section class="white-wrap ptb50">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    {% for article in site.data.articles %}
                    <div class="col-sm-4 ta-center">
                        <div class="feat-img-box">
                            <a href="{{ article.url | relative_url }}">
                                <img width="351" height="200" src="{{ article.src | relative_url }}" class="attachment-about-image size-about-image wp-post-image" alt="{{ article.alt }}"  sizes="(max-width: 351px) 100vw, 351px">									</a>
                        </div>
                        <h3 class="post_title">
                            <a href="{{ article.url | relative_url }}">
                                {{ article.title }}								</a>
                        </h3>
                        <p>{{ article.description }}</p>
                        <p><a href="{{ article.url | relative_url }}">Read</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
