<div class="primary-footer"> 
      <div class="container"> 
         <div class="row"> 
             <div class="col-md-4 col-sm-6 col-xs-12 footer-section-container text-left"> 
             <a href="#" class="m-bot-20 footer-logo">Ralph Welborn </a>
            <p class="footer-text m-top-20"> Ralph Welborn is a vetren executive, business seeker and the author of Get It Done, about briding the gap between stratigic objective/ Intent and everyday execution and The Jericho Principle, focuses on how to drive alignment both inside and outside of an organization to drive innovation and new sources of value. </p>
            </div>  
            <div class="col-md-3 col-sm-6 col-xs-12 footer-section-container"> 
                 <div class="footer-section text-left"> 
                 <h5 class="text-uppercase">Location</h5>
                    <strong class="m-top-30">Headquarters</strong> <p class="footer-address">169 11th st,</p> 
                    <p class="footer-address">San Francisco, CA 94103</p> 
                    <p class="footer-address">+1(781).469.0422 </p> </div>
  </div> 
  <div class="col-md-3 col-sm-6 col-xs-12 footer-section-container social-links-container vertical-center"> 
      <h5 class="text-uppercase">Social Links</h5> 
      <div class="social-link circle pull-left m-top-30">
      <a href="https://www.facebook.com/streamlinesocial"> <i class="fa fa-facebook"></i> </a> 
      <a href="https://twitter.com/streamlinesocial"> <i class="fa fa-twitter"></i> </a> 
      <a href="https://www.linkedin.com/company/1109089"> <i class="fa fa-linkedin"></i> </a>
  </div> 
</div> 
   <div class="col-md-2 col-sm-6 col-xs-12 footer-section-container"> 
       <div class="footer-section text-left"> 
       <h5 class="text-uppercase">Links</h5> 
       <a class="footer-link transition-link m-top-30" href="{% link index.html %}" rel="nofollow">Home</a> <br>
       <a class="footer-link transition-link" href="{% link about.html %}" rel="nofollow">About</a> <br>
       <a class="footer-link transition-link" href="{% link books.html %}">Books</a> <br>
       <a class="footer-link transition-link" href="{% link speaking.html %}">Speaking</a> <br>
       <a class="footer-link transition-link" href="{% link contact.html %}" rel="nofollow">Contact</a>
   </div> 
</div> 
</div> 
<span class="footer-text m-top-10 footer-rights"> ©2018 Ralph Welborn | All Rights Reserved |  <a href="http://www.penguinrandomhouse.com/prh-cookie-disclosure-policy/" target="_blank">Disclosure Policy</a></span>
</div> 
</div>

<!--</footer>-->
