<!-- Start  Loading Section -->
<div class="loading-overlay">
  <div class="spinner">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<!-- end loading section -->

<!-- start header -->
<header id="pageHeader" class="header navbar {{ page.headerBackgroundStyle }}">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">Ralph Welborn</a>
    </div>
    <nav id="myNavbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">pageHeader
        <li><a href="{% link index.html %}">Home</a></li>
        <li><a href="{% link about.html %} ">About</a></li>
        <li class="top-nav-test"><a >Books<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="book-item" href="/books.html ">All Books</a></li>
            <li><a class="book-item" href="{% link topple.html %} ">Topple</a></li>
            <li><a class="book-item" href="{% link get-it-done.html %} ">Get It Done</a></li>
            <li><a class="book-item" href="{% link jericho.html %} ">The Jericho Principle</a></li>
          </ul>
        </li>
        <li><a href="{% link speaking.html %}">Speaking</a></li>
        <li><a href="{% link contact.html %}">Contact</a></li>
        <!--<li><a href="#blog">BLOG</a></li>-->
        <!--<li><a href="#contact">CONTACT</a></li>-->
      </ul>
    </nav>
  </div>
</header>
<!-- end header -->
